In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import json5
import pandas as pd
import numpy as np
import requests
import time
import pymongo
from prettyprinter import pprint
from datetime import datetime
from scipy import stats
from scipy.stats import linregress
from citipy import citipy

In [ ]:
from config import EV_Api_key

### Collecting datasets for Tesla

In [ ]:
#base_url='https://JlcWLnHJWqVZXwivtOThPQXKQnLaKnWaY4qVXxBZ@developer.nrel.gov/api/alt-fuel-stations/v1.json?limit=1'

In [ ]:
#query_url = f"https://{EV_Api_key}@developer.nrel.gov/api/alt-fuel-stations/v1.json?limit=4"
#print(query_url )

In [ ]:
query_url=f'https://developer.nrel.gov/api/alt-fuel-stations/v1.json?fuel_type=ELEC&ev_network=Tesla&api_key={EV_Api_key}'

In [ ]:
response=requests.get(query_url).json()
#pprint(response)

In [ ]:
Total=response['station_locator_url']
print(Total)

In [ ]:
ccc=response['station_counts']['total']
print(ccc)

In [ ]:
a=response['fuel_stations'][0]['access_code']
print(a)

In [ ]:
aa=c=response['fuel_stations'][0]['facility_type']
print(c)

In [ ]:
jj=c=response['fuel_stations'][0]['access_days_time']
print(jj)

In [ ]:
yy=response['fuel_stations'][0]['access_days_time_fr']
print(yy)

In [ ]:
hh=response['fuel_stations'][0]['ev_pricing_fr']
print(hh)

In [ ]:
ii=response['fuel_stations'][0]['ev_connector_types']
print(ii)

In [ ]:
b=response['fuel_stations'][0]['open_date']
print(b)

In [ ]:
latitude=response['fuel_stations'][0]['latitude']
print(latitude)

In [ ]:
longitude=response['fuel_stations'][0]['longitude']
print(longitude)

In [ ]:
c=response['fuel_stations'][0]['facility_type']
print(c)

In [ ]:
dd=response['fuel_stations'][0]['street_address']
print(dd)

In [ ]:
e=response['fuel_stations'][0]['city']
print(e)

In [ ]:
f=response['fuel_stations'][0]['zip']
print(f)

In [ ]:
g=response['fuel_stations'][0]['state']
print(g)

In [ ]:

#access_code=[]
facility_type=[]
#access_days_time=[]
access_days_time_fr=[]
#ev_price=[]
#ev_connector_type=[]
open_date=[]
street_address=[]
city=[]
zip=[]
state=[]
lat=[]
lon=[]

In [ ]:
for i in range(400):
    try:
        response = requests.get(query_url).json()
        #access_code.append(response['fuel_stations'][i]['access_code'])
        facility_type.append(response['fuel_stations'][i]['facility_type'])
        #access_days_time.append(response['fuel_stations'][i]['access_days_time'])
        access_days_time_fr.append(response['fuel_stations'][i]['access_days_time_fr'])
        #ev_price.append(response['fuel_stations'][i]['ev_pricing_fr'])
        #ev_connector_type.append=(response['fuel_stations'][i]['ev_connector_types'])
        open_date.append(response['fuel_stations'][i]['open_date'])
        lat.append(response['fuel_stations'][i]['latitude'])
        lon.append(response['fuel_stations'][i]['longitude'])

        street_address.append(response['fuel_stations'][i]['street_address'])
        city.append(response['fuel_stations'][i]['city'])
        zip.append(response['fuel_stations'][i]['zip'])
        state.append(response['fuel_stations'][i]['state'])
       # print(response['fuel_stations'][i]['city'])
    except:
        print('info not found')
        pass

### Insert data to a Mongo Database

In [ ]:
# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Declare the database
db = client.EV_db

# Declare the collection
tesla = db.tesla

In [ ]:
# Part I
# A dictionary that represents the document to be inserted

EV_dict_tesla = {
    "facility type":facility_type,
    "Access days time fr":access_days_time_fr,
    "open_date":  open_date,
    "latitude":lat,
    "longitude":lon,
    "street address":street_address,
    "city":city,
    "zip":zip,
    "state": state
}

In [ ]:
#Insert the document into the database
# The database and collection, if they don't already exist, will be created at this point.
tesla.insert_one(EV_dict_tesla)

In [ ]:
# Verify results:
results = tesla.find()
for result in results:
    print(result)

### Insert data to a Panda dataFrame and convert to CSV file

In [ ]:
EV_data = pd.DataFrame(EV_dict_tesla)
EV_data

In [ ]:
#EXPORTING DATA
#EV_data.to_csv("output/evData.csv", index=True, header=True)

In [ ]:
#EV_data.to_csv("output/evData_100.csv", index=True, header=True)

In [ ]:
#EV_data.to_csv("output/evData_300.csv", index=True, header=True)

In [ ]:
EV_data.to_csv("output/evData_400.csv", index=True, header=True)

In [3]:
EV_data=pd.read_csv("output/evData_400.csv")
EV_data.head()

,Unnamed: 0,facility type,Access days time fr,open_date,latitude,longitude,street address,city,zip,state,_id
0,0,NaN,NaN,2017-09-01,34.785416,-86.942864,21282 Athens-Limestone Blvd.,Athens,35613,AL,624f1ad6d4d1951facd1c842
1,1,NaN,NaN,2015-01-01,32.627837,-85.445105,1627 Opelika Road,Auburn,36830,AL,624f1ad6d4d1951facd1c842
2,2,NaN,NaN,2016-12-01,33.525826,-86.807072,2221 Richard Arrington Junior Blvd.,Birmingham,35203,AL,624f1ad6d4d1951facd1c842
3,3,NaN,NaN,2015-01-01,31.855989,-86.635765,219 Interstate Drive,Greenville,36037,AL,624f1ad6d4d1951facd1c842
4,4,NaN,NaN,2015-03-01,30.671556,-88.118644,3201 Airport Blvd,Mobile,36606,AL,624f1ad6d4d1951facd1c842

### Collecting data for Volta

In [ ]:
query_url=f'https://developer.nrel.gov/api/alt-fuel-stations/v1.json?fuel_type=ELEC&ev_network=Volta&api_key={EV_Api_key}'

In [ ]:
#access_code=[]
facility_type=[]
#access_days_time=[]
access_days_time_fr=[]
#ev_price=[]
#ev_connector_type=[]
open_date=[]
street_address=[]
city=[]
zip=[]
state=[]
lat=[]
lon=[]

In [ ]:
for i in range(300):
    try:
        response = requests.get(query_url).json()
        #access_code.append(response['fuel_stations'][i]['access_code'])
        facility_type.append(response['fuel_stations'][i]['facility_type'])
        #access_days_time.append(response['fuel_stations'][i]['access_days_time'])
        access_days_time_fr.append(response['fuel_stations'][i]['access_days_time_fr'])
        #ev_price.append(response['fuel_stations'][i]['ev_pricing_fr'])
        #ev_connector_type.append=(response['fuel_stations'][i]['ev_connector_types'])
        open_date.append(response['fuel_stations'][i]['open_date'])
        lat.append(response['fuel_stations'][i]['latitude'])
        lon.append(response['fuel_stations'][i]['longitude'])

        street_address.append(response['fuel_stations'][i]['street_address'])
        city.append(response['fuel_stations'][i]['city'])
        zip.append(response['fuel_stations'][i]['zip'])
        state.append(response['fuel_stations'][i]['state'])
        print(response['fuel_stations'][i]['city'])
    except:
        print('info not found')
        pass

### Insert data to a Mongo Database

In [ ]:
# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Declare the database
db = client.EV_db

# Declare the collection
Volta = db.Volta

In [ ]:
# Part I
# A dictionary that represents the document to be inserted
EV_dict_Volta = {
    "facility type":facility_type,
    "Access days time fr":access_days_time_fr,
    "open_date":  open_date,
    "latitude":lat,
    "longitude":lon,
    "street address":street_address,
    "city":city,
    "zip":zip,
    "state": state
}

In [ ]:
#Insert the document into the database
# The database and collection, if they don't already exist, will be created at this point.
Volta.insert_one(EV_dict_Volta)

In [ ]:
# Verify results:
results = tesla.find()
for result in results:
    print(result)

### Insert data to a Panda dataFrame and convert to CSV file

In [ ]:
EV_dict_Volta = pd.DataFrame(EV_dict_Volta)
EV_dict_Volta

In [ ]:
#EV_dict_Volta.to_csv("output/evVoltaData_100.csv", index=True, header=True)

In [ ]:
EV_dict_Volta.to_csv("output/evVoltaData_200.csv", index=True, header=True)

In [5]:
EV_data_volta=pd.read_csv("output/evVoltaData_200.csv")
EV_data_volta.head()

,Unnamed: 0,facility type,Access days time fr,open_date,latitude,longitude,street address,city,zip,state,_id
0,0,SHOPPING_MALL,NaN,1998-05-30,34.241116,-118.556708,9301 Tampa Ave,Northridge,91324,CA,624f1b64d4d1951facd1c844
1,1,SHOPPING_CENTER,NaN,1998-05-30,34.156839,-118.434454,14006 Riverside Dr,Sherman Oaks,91423,CA,624f1b64d4d1951facd1c844
2,2,STATE_GOV,NaN,2012-02-15,21.307030,-157.857725,415 S Beretania St,Honolulu,96813,HI,624f1b64d4d1951facd1c844
3,3,MUNI_GOV,NaN,2012-02-15,21.302295,-157.861322,564 Pohukaina,Honolulu,96813,HI,624f1b64d4d1951facd1c844
4,4,NATL_PARK,NaN,2012-02-15,37.806099,-122.449461,1199 E Beach,San Francisco,94129,CA,624f1b64d4d1951facd1c844